<h1>Upload File to s3</h1>

<div class="main">
<%= s3_swf_upload_tag(
        :width => 488, 
        :height => 50, 
        :success => "alert('succeeded with ' + filename);",
        :failed => 'alert("failed");',
        :selected => 'alert(filename + " selected - OK!");',
        :canceled => 'alert("canceled");',
        :prefix => '',
        :upload => 'Submit',
        :initial_message=> 'Your message about file...')
  %>
	<br />
	Maximum file size: <%= S3SwfUpload::S3Config.max_file_size/1024.0/1024.0 %>MB
	<hr />
</div>
